<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>CREATE</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .error-message {
      color: red;
      font-style: italic;
      margin-top: 5px;
    }
  </style>
</head>

<body>
<div class="container mt-5">
  <h2>Create Product</h2>
  <form th:object="${products}" action="/productest/createproduct" method="post">
    <div class="form-group">
      <label for="code">Code:</label>
      <input type="text" id="code" name="code" th:value="*{code}" class="form-control">
      <div th:if="${#fields.hasErrors('code')}" th:errors="*{code}" class="error-message"></div>
    </div>
    <div class="form-group">
      <label for="price">Price:</label>
      <input type="number" step="any" name="price" th:value="*{price}" class="form-control" id="price">
      <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="error-message"></div>
    </div>
    <div class="form-group">
      <label for="tittle">Tittle:</label>
      <input type="text" id="tittle" name="tittle" th:value="*{tittle}" class="form-control">
      <div th:if="${#fields.hasErrors('tittle')}" th:errors="*{tittle}" class="error-message"></div>
    </div>
    <div class="form-group">
      <label for="category">Category:</label>
      <select name="category" th:field="*{category.id}" class="form-control" id="category">
        <th:block th:each="category: ${categories}">
          <option th:value="${category.id}" th:text="${category.name}"></option>
        </th:block>
      </select>
      <div th:if="${#fields.hasErrors('category.id')}" th:errors="*{category.id}" class="error-message"></div>
    </div>
    <button class="btn btn-primary">Submit</button>
  </form>
  <a href="http://localhost:8080/productest" class="btn btn-secondary">Back to List</a>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>